.hidden{
  display:none;
  visibility:none;
}
.container{
  position:relative;
  width:960px;
  height:100%;
  @media #{$mobile} {
    width:100% !important;
  }
  margin:0 auto;
  padding:40px 0;
}

h2{
  padding:0.83em 0;
  margin:0;
}

.half-page{
  @include reset-size;
  display:inline-block;
  width:49%;
  vertical-align:top;
}
