.hidden{
  display:none;
  visibility:none;
}
.container{
  position:relative;
  width:960px;
  height:100%;
  margin:0 auto;
  padding:40px 0;
  top:-40px;
  @media #{$mobile} {
    width:100% !important;
    padding:60px 0 0;
    top:0px;
  }
}

h2{
  padding:0.83em 0;
  margin:0;
}

.half-page{
  @include reset-size;
  display:inline-block;
  width:49%;
  vertical-align:top;

  @media #{$phone} {
    width:90%;
    margin:0 auto;
    display:block;
    text-align:center;
    img {
      width: 270px !important;
      margin-top: 10px;
    }
  }
}
