header {
  position:fixed;
  top:0;
  right:0;
  height:50px;
  z-index:500;

  min-width:320px;
  width:100%;
  max-width:700px;

  border-bottom:3px solid $borderColor;
  ul {
    list-style:none;
    @include reset-size;
    float:right;
    li{
      float:left;
      padding:5px 15px;

      a{
        @include transition;

        padding:0 5px 9px;
        text-decoration: none;
        color:$linkColor;
        border-bottom:3px solid transparent;

        &:hover{
          border-bottom:3px solid $linkHoverColor;
        }
      }
    }
  }
  #logo {
    position:fixed;
    top:10px;
    left:20px;
    width:475px;
    height:70px;
    background:#bbb;
    opacity:.5;
  }

  nav {
    float:right;
    padding:15px 15px 0;
  }
}
