/* Featured Page */
#featured {
  z-index:0 !important;
  background-color:#000;
  background-size:cover;
  .slideshow-arrow {
    position:fixed;
    top:40%;
    height:88px;
    width:88px;
    left:50px;
    z-index:400;

    &:last-child{
      left:auto !important;
      right:50px;
    }
  }
  img {
    min-width:100vw;
    min-height:100vh;
  }

  #logo {
    position:fixed;
    top:10px;
    left:20px;
    height:70px;
    
    z-index:1000;
    font-family:"Times";
    font-size:3em;
    text-decoration:none;
    text-shadow:0 0 1px #333, 0 1px 1px #000;
    text-align:center;

    @media screen and (max-width:1200px) {
      top: calc(50% - 70px);
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

/* Portfolio Page */
#portfolio{
  background-color:#dc143c;
  .portfolio-header-container{
    width:960px;
    margin:0 auto;
    // padding: 45px 0 0;
    @media #{$mobile} {
      width:100% !important;
      padding:60px 0 0;
    }
  }
  .portfolio-container{
    display:none;
    position:relative;
    top:30px;
    @media #{$mobile} {
      top:0;
    }
    overflow-x:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch;
    ul{
      @include reset-size;
      white-space:nowrap;
      list-style:none;
      max-height:400px;
      -webkit-overflow-scrolling:touch;
      li{
         @include transition;
        @include reset-size;
        display:inline-block;
        width:16.667%;
        overflow: hidden;
        box-shadow: 0 0 15px 5px #333;
        
        @media #{$mobile} {
          width:300px;
        }

        &.active{
          @include transition;
          width:33.333% !important;
          @media #{$mobile} {
            width:85% !important;
          }
        }

        a{
          width:250px;
          height:100%;
          text-decoration: none;
          &:after{
            content:attr(data-text);
            transform:rotate(-90deg);
            font-size:2em;
            position: relative;
            top: -20px;
            display: inline-block;
            transform-origin: bottom left;
            margin: 0 0 0 -415px;
            text-shadow: 0 0 1px #333, 0 1px 1px #000;
          }
          img{
            @include transition;
          }
        }
      }
    }
  }
}

/* Etsy Page */
#etsy{
  
  padding-top:50px;
  background:$etsyBackground;

  @media #{$phone}{
    height:120vh;
  }
  .container{
    top:0;
  } 
  img {
    border:1px solid #777;
    width:100%;
    background:#fff;
    padding:8px;
    box-shadow:5px 5px 15px -5px #333;
  }
}

/* Contact Page */
#contact{
  z-index:1000;
  background:$contactBackground;

  h2{
    color:$contactText;
  }
}
