/* Featured Page */
#featured {
  background-color:#eee;
  background-size:cover;
  .slideshow-arrow {
    position:fixed;
    top:40%;
    height:88px;
    width:88px;
    left:50px;
    z-index:150;

    &:last-child{
      left:auto !important;
      right:50px;
    }
  }
  img {
    width:100%;
  }

  #logo {
    position:fixed;
    top:10px;
    left:20px;
    width:475px;
    height:70px;
    background:#bbb;
    opacity:.5;
    z-index:100;
  }
}

/* Portfolio Page */
#portfolio{
  background-color:#dc143c;
  .portfolio-header-container{
    width:960px;
    margin:0 auto;
    padding: 45px 0 0;
    @media screen and (max-width: 768px) {
      width:100% !important;
    }
  }
  .portfolio-container{
    position:relative;
    top:30px;
    overflow-x:scroll;
    overflow-y:hidden;
    ul{
      @include reset-size;
      white-space:nowrap;
      list-style:none;
      max-height:435px;
      li{
        @include reset-size;
        display:inline-block;
        width:250px;
        height:100%;
        a{
          @include transition;
          img{
            @include transition;
            width:100%;
            filter: grayscale(100%);
            vertical-align:top;
            &:hover{
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}

/* Etsy Page */
#etsy{
  padding-top:50px;
  background:$etsyBackground;
  img {
    padding:5px;
    border:3px solid $linkHoverColor;
    width:100%;
  }
}

/* Contact Page */
#contact{
  z-index:1000;
  background:$contactBackground;

  h2{
    color:$contactText;
  }
}
