$borderColor:#000;
$linkColor:#ff7171;
$linkHoverColor:#ff7171;

$etsyHover:rgb(185,87,39);
$etsyBackground:lighten($etsyHover,35%);

$arrowColor:#eee;

$contactText:#eee;
$contactBackground:#222;

$footerBackground:rgba(239,239,239,.8);
$footerBackgroundEnd:#eee;
